		<div style="width: 100%; background-color: white;"">
			<div style="height: 320px; width: 100%; background-color: #4dff4d">
				<img src="<%= photo(@food.id) %>" alt="<%= photo(@food.id) %>" style="height: 320px; width: 100%;"> 
			</div>
			<div id="outlet_info">
				<div style="display: flex; justify-content: space-between;">
				<span style="font-size: 50px; color: brown"> <%= @food.name %> </span> 
				<div style="display: flex; display: inline-block;">

				<% if sessionID %>
					<% if sessionIdentity == "Owner" and @food.ownerID == sessionID %>
						<form action="/editfood" method="get" style="display: inline-block;">
							<input type="hidden" name="outletID" value="<%= @food.id %>">
							<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTydlreUdbOJZVh1xzHNgNQiPbozuy1q6VYjFEkvMs_2gONalGm" name="submit" title="Edit" style="height: 40px; width: 40px">
						</form>
						<form action="/food/delete" method="get" style="display: inline-block;">
							<input type="hidden" name="outletID" value="<%= @food.id %>">
							<input type="image" src="https://photos-3.dropbox.com/t/2/AABGbxTHNUgxRch4gD07e8xuknuYV81t3rH5wWeQ9XkOaQ/12/655824313/jpeg/32x32/1/_/1/2/Delete.jpeg/EObcv6sFGAMgAigC/5Fffmow7Q906Yud5JIEY4VXmT3g-4JehhG6JJnEHLfo?size=1280x960&size_mode=3" name="submit" title="Remove" style="height: 40px; width: 40px">
						</form>
						<form action="/food/offers" method="get" style="display: inline-block;">
							<input type="hidden" name="outletID" value="<%= @food.id %>">
							<input type="image" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR2ZOp_3W4af-RQ6U_1TXbZ42DAgoIQWJJHq1u75DJHyZ-2kMKJUA" name="submit" title="Add Offer" style="height: 40px; width: 40px">
						</form>

					<% else %>
						<% if sessionIdentity == "Customer" %>
							<% myReview = getMyReview("food", @food.id) %>
							<form id="review" action="/food/review/add" method="get">
										<input type="hidden" name="outletID" value="<%= @food.id %>">
										<input type="submit" name="submit" value="Add Review" style="width: 90px">
							</form>
							<form class="visited" id="outletID_<%=@food.id %>" action="/food/review/visited" method="get">
									<input type="hidden" name="category" value="food">
									<input type="hidden" name="outletID" value="<%= @food.id %>">
									<% if myReview %>
										<input type="submit" name="submit" value="Not Visited" style="width: 90px">
									<% else %>
										<input type="submit" name="submit" value="Visited" style="width: 90px">
									<% end %>
							</form>
							<% if myReview == nil %>
								<style type="text/css">
									.visited{
										display: inline-block;
									}
								</style>
							<% else %>
								<% if myReview.content == nil %>
									<style type="text/css">
										#review{
											display: inline-block;
										}
									</style>
								<% else %>
									<style type="text/css">
										.visited{
											display: inline-block;
										}
									</style>
									<span id="review_text"> Reviewed! </span>
								<% end %>
								
							<% end %>
						<% end %>
					<% end %>
				<% end %>
				</div>
				</div>
				<div style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
				<span style="font-size: 20px; color: brown"> <%= @food.location %> </span>
				<div style="display: flex; align-items: center">
					<img src="https://photos-4.dropbox.com/t/2/AACusXr0pBqiB44lkvwG5lFggCRWge-DEplg1UbkUfZEXw/12/655824313/png/32x32/1/_/1/2/Like.png/EObcv6sFGAQgAigC/l8pjmjwkCWbSWW2KS2RI0h7kGQX4OgchoxqeIkhAGMI?size=1280x960&size_mode=3" style="height: 30px; width: 30px;">
					<span style="font-size: 25px;"> &nbsp;<%= likes(@food.id) %> </span>
					<img src="https://photos-2.dropbox.com/t/2/AABykOviim7omIusWWiMbLfY-HmJVGU6CqPhgYzaWiPa8Q/12/655824313/jpeg/32x32/1/_/1/2/Dislike.jpg/EObcv6sFGAUgAigC/_WxltPfHY6ox6W8q2VSMqO6d88pehSnQ91uFCh4B-Eg?size=1280x960&size_mode=3" style="height: 30px; width: 30px; margin-left: 40px;">
					<span style="font-size: 25px;"> &nbsp;<%= dislikes(@food.id) %> </span>
				</div>
				</div>
			</div> 
		</div>
		<br>
		<% if sessionIdentity == "Customer" %>
			<div>
				<% if @booking %>
					<% if @booking.status == 0 %>
						<div style="display: flex; justify-content: space-between; align-items: center;">
						<span class="booking1"> Booked </span> 
						<span> Waiting for Confirmation... </span>
						</div>
					<% elsif @booking.status == 1 %>
						<div style="display: flex; justify-content: space-between; align-items: center;">
						<span class="booking2"> Booked </span>
						<span style="color: green"> Booking Confirmed! </span>
						</div>
					<% elsif @booking.status == 2 %>
						<div style="display: flex; justify-content: space-between; align-items: center;">
						<a class="booking" href="/food/booking/<%= @food.id %>"> Book Again </a>
						<span style="color: red"> Booking Rejected! </span>
						</div>
					<% end %>
				<% else %>
					<a class="booking" href="/food/booking/<%= @food.id %>"> Book </a>
				<% end %>
			</div>
			<br>
		<% end %>
		<div style="width: 97.3%; background-color: white; padding: 10px;">
			<span style="color: black"> <%= @food.description %> </span> <br>
		</div> <br>
		<div style="width: 97.3%; background-color: white; padding: 10px;">
			<div id="toggleOffer" style="display: flex; justify-content: space-between;"> 
				<span style="font-size: 20px; color: blue"> Special Offers </span> 
				<img src="http://www.iconarchive.com/download/i87622/icons8/ios7/Arrows-Up-4.ico" style="height: 20px; width: 20px;"> 
			</div>
			<% offers = getOffers("food", @food.id) %>
			<div id="upDownOffer" style="border-top: 1px solid brown;">
			<% offers.each do |offer| %>	
				<%= render 'outletOffers', offer: offer %>
			<% end %>
			</div>
		</div>
		<br>
		<div style="width: 97.3%; background-color: white; padding: 10px;"">
			<div id="toggleReview" style="display: flex; justify-content: space-between;"> 
				<span style="font-size: 20px; color: blue"> Reviews </span> 
				<div>
					<% if not sessionID %>
						<span style="color: grey; margin-right: 20px;"> <a href="/login"> Login</a> to Add Review </span>
						<style type="text/css">
							a:link {
		    					color: grey;
		    					text-decoration: none;
							}

							a:visited {
		    					color: grey;
							}

							a:hover {
								color: black;
							}

						</style>
					<% end %>
					<img src="http://www.iconarchive.com/download/i87622/icons8/ios7/Arrows-Up-4.ico" style="height: 20px; width: 20px;"> 
				</div>
			</div>
			
			<% reviews = getReviews("food", @food.id) %>
			<div id="upDownReview" style="border-top: 1px solid brown;">
			<% reviews.each do |review| %>
				<% if review.content %>
					<%= render 'reviews', review: review %>
				<% end %>
			<% end %>
			</div>
		</div>
		<br>
		<div style="padding: 10px; width: 97.3%; background-color: white;">
			<span style="color: blue; font-size: 20px;"> Owned by </span> <br>
			<% owner = getOwner(@food.ownerID) %>
			<span style="font-size: 25px; color: brown"> <%= owner.name %> </span> <br>
			<span style="color: #666666; font-size: 15px;"> Phone: <%= owner.phone %> </span> <br>
			<span style="color: #666666; font-size: 15px;""> Email: <%= owner.email %> </span> <br>
			<span style="color: #666666; font-size: 15px;""> Address: <%= owner.address %>, <%= owner.city %> </span>
		</div>