<!DOCTYPE html>
<html>
<head>
	<title> Food </title>

	<% if @restaurants %>
		<% outlets = @restaurants %>
		<style type="text/css">
			#b1{

			}
		</style>
	<% elsif @bars %>
		<% outlets = @bars %>
	<% elsif @cafes %>
		<% outlets = @cafes %>

	<% elsif @grocery %>
		<% outlets = @grocery %>

	<% elsif @dessert %>
		<% outlets = @dessert %>

	<% elsif @others %>
		<% outlets = @others %>

	<% end %>

</head>
<body>

<div class="main">
<div class="sidebar">
	<div style="font-size: 30px; color: brown; text-align: center;"> CATEGORIES </div>
	<br>
	<div class="buttons">
		<form action="/food" method="get">
			<input class="button" id="b1" type="submit" name="category" value="Restaurants">
			<input class="button" id="b2" type="submit" name="category" value="Bars">
			<input class="button" id="b3" type="submit" name="category" value="Cafes">
			<input class="button" id="b4" type="submit" name="category" value="Grocery">
			<input class="button" id="b5" type="submit" name="category" value="Dessert">
			<input class="button" id="b6" type="submit" name="category" value="Others">
		</form>
	</div>
</div>
<div class="center">
	<% if @food %>
		<%= render 'outlet', :@food => @food %>
	<% else %>
		<% i=0 %>
		<% items = [] %>
		<% outlets.each do|outlet| %>
			<% items << outlet %>
			<% i += 1 %>
			<% if i == 3 %>
				<div style="margin: 10px; display: flex; justify-content: space-between; margin-bottom: 20px;">
					<% items.each do |item| %>
						<form action="/food">
							<input type="hidden" name="outletID" value="<%= item.id %>">
							<input type="Image" src="<%= photo(item.id) %>" alt="<%= item.name %>" style="height: 200px; width: 220px; border-radius: 30%; border: 1px solid black" title="<%= item.name %>" name="photo">
						</form>
					<% end %>
				</div>
				<% i = 0 %>
				<% items.clear %>
			<% end %>
			</a>
		<% end %>
		<% if items.any? %>
			<div style="margin: 10px; display: flex;">
				<% items.each do |item| %>
					<form action="/food">
						<input type="hidden" name="outletID" value="<%= item.id %>">
						<input type="Image" src="<%= photo(item.id) %>" alt="<%= item.name %>" style="height: 200px; width: 220px; border-radius: 30%; border: 1px solid black; margin-right: 35px;" title="<%= item.name %>" name="photo">
					</form>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>

<div class="offers">
	<div style="font-size: 30px; color: brown; text-align: center;"> OFFERS </div> <br>
	<div id="offers_inner" style="border: 1px solid brown">
		<% @offers.each do |offer| %>
			<%= render 'offers', offer: offer %>
		<% end %>
	</div>		
</div>
</div>
</body>
</html>