<!DOCTYPE html>
<html>
<head>
	<title> Bookings </title>
	<style type="text/css">
		.timeline{
			padding: 5px;
			margin: 5px;
		}

		table{
			border: 1px solid black;
			border-left: none;
			border-bottom: none;
		}

		th{
			width: 150px;
			height: 50px;
			background-color: #0D90B7;
			font-size: 22px;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
			color: white;
		}

		td{
			width: 150px;
			height: 30px;
			font-size: 18px;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
			color: brown;
			text-align: center;
			padding: 10px;
		}

	</style>

</head>
<body>

	<div style="display: flex; justify-content: space-around; margin-top: 50px;">	
		<table>
			<tr>
				<th> S. No </th>
				<th> Outlet </th>
				<th> No. of Persons </th>
				<th> Date </th>
				<th> Time </th>
				<th> Status </th>
				<th> Action </th>
			</tr> 
		<% i = 1 %>
		<% @bookings.each do |booking| %>
		<tr>
				<td> <%= i %></td>
				<td> <%= getFood(booking.outletID).name %> </td>
				<td> <%= booking.numPersons %> </td>
				<td> <%= booking.date %> </td>
				<td> <%= booking.time.hour.to_s + ":" + booking.time.min.to_s %> </td> 
				<% if booking.status == 0 %> 
					<td> Pending... </td>
					<td>
					<a href="/food/booking/cancel/<%= booking.id %>"> <img src="images/delete_bin.jpg" style="height: 30px; width: 30px;"> </a>
					</td>
				<% elsif booking.status == 1 %>
					<td style="color: green"> Confirmed! </td>
					<td>
					<a href="/food/booking/cancel/<%= booking.id %>"> <img class="cancel" id="cancel_<%= booking.id %>" src="images/cancel_booking.png" style="height: 30px; width: 50px;"> </a>
					</td>
				<% else %>
					<td style="color: red"> Rejected! </td>
					<td>
					<a href="/food/booking/cancel/<%= booking.id %>"> <img class="delete" id="delete_<%= booking.id %>" src="images/delete_bin.jpg" style="height: 30px; width: 30px;"> </a>
					</td>
				<% end %>
		</tr>
		<% i += 1 %>
		<% end %>
	</table>
	</div>
</body>
</html>