<!DOCTYPE html>
<html>
<head>
	<title> Profile </title>
	<style type="text/css">
		.name{
			color: grey;
		}

		legend{
			font-size: 20px;
			color: blue;
		}

		fieldset{
			background-color: greenyellow;
		}

		.content{
			color: #003300;
		}
	</style>
</head>
<body>
	<div style="display: flex; justify-content: space-around;">
	<div style="display: flex; margin: 50px; align-items: center;">
		<% if avatar %>
			<img src="<%= avatar %>" style="height: 240px; width: 250px; margin-right: 50px; border: 1px solid grey">
		<% else %>
			<% if @user.gender == "Male" %>
				<img src="/assets/avatar_male.png" style="height: 240px; width: 250px; margin-right: 50px; border: 1px solid grey">
			<% else %>
				<img src="/assets/avatar_female.png" style="height: 240px; width: 250px; margin-right: 50px; border: 1px solid grey">
			<% end %>
		<% end %>
		<div>
			<fieldset style="width: 700px;">
				<legend> Personal Details </legend>
				<span class="name"> Name: </span> <span class="content"> <%= @user.name %> </span> <br>
				<span class="name"> Email: </span> <span class="content"> <%= @user.email %> </span> <br>
				<span class="name"> Password: </span> <span class="content"> <% @user.password.length.times do %>
				<%= '*' %>
				<% end %> </span> <br>
				<span class="name"> Gender: </span> <span class="content"> <%= @user.gender %> </span> <br>
			</fieldset> <br>
			<fieldset>
				<legend> Contact Details </legend>
				<span class="name"> Phone: </span> <span class="content"> <%= @user.phone %> </span> <br>
				<span class="name"> Address: </span> <span class="content"> <%= @user.address %> </span> <br>
				<span class="name"> City: </span> <span class="content"> <%= @user.city %> </span>
			</fieldset>
		</div>
	</div>
	</div>
	<div style="display: flex; justify-content: space-around;">
	<form action="/profile/edit" method="get">
		<input type="submit" name="submit" value="Edit">
	</form>
	</div>
</body>
</html>