<!DOCTYPE html>
<html>
<head>
  <title>Xplorex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0">

</head>
<body>
<div class="header">
	<div style="display: flex; align-items: center;">
		<img src="/images/x.jpg" style="height: 100px; width: 100px;"> <span style="font-size: 50px; color: red">plorex</span>
	</div>
	
	<div> <a href="/"> <img src="/images/home.jpg" style="height: 50px; width: 50px;"></a> </div>

	<div class="header_content" style="display: flex; justify-content: space-around; align-items: center;">
		<% if currentUser %> 
			<span style="color: red; margin-right: 5px;"> <%= currentUser.name %> </span>
			<div class="dropdown">
				<% if avatar %>
					<img class="dropbtn" src="<%= avatar %>" alt="No Image" style="height: 100px; width: 100px; border-radius: 50%;">
				<% else %>
					<% if currentUser.gender == "Male" %>
						<img class="dropbtn" src="/assets/avatar_male.png" alt="Hello" style="height: 100px; width: 100px; border-radius: 50%;">
					<% else %>
						<img class="dropbtn" src="/assets/avatar_female.png" alt="Hello" style="height: 100px; width: 100px; border-radius: 50%;">
					<% end %>
				<% end %>
					<div id="myDropdown" class="dropdown-content">
					    <a href="/profile"> Profile </a>
					    
					    <% if sessionIdentity == "Customer" %>
					    	<a href="/timeline"> Timeline </a>
					    	<a href="/myBookings"> Bookings </a>
					    <% end %>
					    
					    <% if sessionIdentity == "Owner" %>
					    	<a href="/services"> My Services </a>
					   		<a href="/serviceMenu"> Add Service </a>
					   		<a href="/notifications"> Notifcations </a>
					    <% end %>
					    
					    <a href="/logout"> Logout </a>
					</div>			
			</div>
		<% else %>
			<div class="login_signup">
				<form action="/signup" method="get">
					<input class="options" type="submit" name="submit" value="Signup">
				</form>
				<form action="/login" method="get">
					<input class="options" type="submit" name="submit" value="Login">
				</form>
			</div>
		<% end %>
	</div>
</div>
<div class="search_container">
	<div class="search">
		<img src="/images/search.png">
		<%= form_tag '/search/show', id: 'search' do %>
			<%= text_field_tag :search, nil, :autocomplete => 'off' %>
			<%= submit_tag :Search, id: 'search_button' %>
		<% end %>
	</div>
	<div id="search_results">
		
	</div>
</div>

<%= yield %>

<div class="footer">
	<div class="footer_upper">
		<div class="footer_contact">
		    <span style="font-size: 16px;"> CONTACT </span> 
		    <div>   
	        	<p><img src="/images/location.png" class="fa-fw w3-xlarge w3-margin-right"> Home : 3-E, Kamla Nagar, Delhi - 110007 </p>
	        	<p><img src="/images/phone.png" class="fa-fw w3-xlarge w3-margin-right"> Phone : 9711301266 </p> 
	        	<p><img src="/images/mail.png" class="fa-fw w3-xlarge w3-margin-right"> Email :  shubham.aggarwal.1996@gmail.com </p>
	        </div>
	    </div>  
		<div class="footer_map">
			<img src="/images/map_kamla_nagar.png" style="height: 200px; width: 400px;">
		</div>
	</div>
	<hr>
	<div class="footer_lower">
		<span style="font-size: 12px;"> Copyright © by Xplorex. All Rights Reserved</span>
	</div>
</div>
</body>
</html>

